.navbar{
position:fixed;
top:0;
left:0;
width:100%;

display:flex;
justify-content:space-between;
align-items:center;

padding:15px 40px;
background:#f4f1ea;
color:rgb(1, 1, 1);
z-index:1000;
}

.logo{
font-size:22px;
font-weight:bold;
}

.nav-links{
display:flex;
gap:30px;
list-style:none;
}
